* {
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: url(../cursor/arrow2.ico), default;
}

@media screen and (max-width: 500px) {
  .ver,
  .tip,
  .github,
  .bili {
    display: none;
  }
  .refresh {
    margin-right: 20%;
  }
  .btn.upload {
    position: absolute;
    left: 4%;
  }
}

body {
  background: #f1e4f3;
}
#head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #43278c;
}
.txt {
  color: #fff;
  font-size: 32px;
}
.side {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 4%;
}
.sideL {
  justify-content: flex-start;
  padding-left: 4%;
  padding-right: 0;
}
.ver {
  color: #fff;
  font-size: 26px;
}

.btn {
  position: relative;
  margin-left: 24px;
}
.btn a {
  display: block;
  width: 40px;
  height: 40px;
}
.icon {
  width: 40px;
  height: 40px;
}
.word {
  display: none;
  position: absolute;
  top: 62px;
  left: -120px;
  width: 200px;
  padding: 12px 20px;
  background-color: #fe7c73;
  color: #fff;
  z-index: 3;
}
.tip:hover > .word {
  display: block;
}
#duo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px 5%;
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.wrap {
  width: 300px;
  margin-bottom: 16px;
}
#frames img {
  width: 300px;
}

.box {
  width: 100%;
  height: 100%;
}

.speedBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 100%;
  margin-bottom: 24px;
  overflow: scroll;
}
.speedBtns::-webkit-scrollbar {
  width: 0 !important;
  height: 0;
}
.speed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
  padding: 6px 36px;
  /* background-color: #fffa61; */
  background: linear-gradient(
    -70deg,
    transparent,
    transparent 10%,
    #fffa61 10%,
    #fffa61 90%,
    transparent 90%
  );
  color: #000000;
  font-size: 18px;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #ccc; */
}
.pre {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: #fff;
  font-size: 32px;
}
.preT {
  top: 0;
  background-color: #f8acbb;
}
.preB {
  bottom: 0;
  background-color: #cd5b52;
}
#file {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  /* background-color: #ccc; */
}
.previewGif {
  position: relative;
  width: 100%;
  height: 90vw;
  z-index: 2;
}
.box #frames img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
